!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Kudobob
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{ src: '//d2wy8f7a9ursnm.cloudfront.net/bugsnag-3.min.js', data: { apikey: ENV['BUGSNAG_JS_KEY'] } }
  %body
    = render 'layouts/flashes'
    = navbar static: :top, container: false do
      = navbar_header brand: 'Kudobob', brand_link: root_path
      = navbar_collapse do
        = navbar_group do
          = navbar_item "Home", root_path
          = navbar_item "Dojos", dojos_path
          = navbar_item "Users", users_path
          = navbar_item "My Scripts", scripts_path
          = navbar_item "Public Scripts", public_scripts_path
        = navbar_group align: 'right' do
          - if current_user
            = navbar_text do
              = gravatar_image_tag current_user.email, class: 'avatar', gravatar: {size: 40, secure: true, default: :identicon }
              = current_user
            = navbar_item 'Account', edit_user_registration_path
            %li
              = link_to destroy_user_session_path, method: :delete do
                Sign Out
          - else
            = navbar_item "Sign In", new_user_session_path
    .container-fluid
      = yield
